<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">S'inscrire</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>S'authentifier</h1>
    <img src="assets/cims.png" />
  </div>

  <form  #f="ngForm"  (ngSubmit)="Submit(f)" id="form">
    <ion-input name="pseudo" [(ngModel)]="pseudo" type="text" placeholder="pseudo"></ion-input>  
    <ion-input name="password" [(ngModel)]="password" type="password" placeholder="password"></ion-input>
        <ion-button expand="block" type="submit" shape="round">S'authentifier</ion-button>
  </form>
</ion-content>