<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  <!--<ion-title style="text-align: end;">
    list Medecin
  </ion-title>-->
  <ion-button [routerLink]="['/home']" style="font-size: 15px;">Cims</ion-button>
  <ion-button *ngIf="user==null" slot="end" [routerLink]="['/login']" style="font-size: 12px;">se connecter</ion-button>
  <ion-button *ngIf="user!=null" slot="end" [routerLink]="['/profile']" style="font-size: 12px;">profil</ion-button>
  <ion-button *ngIf="user!=null"  (click)="logout()" slot="end" style="font-size: 12px; "> <ion-icon name="log-out-outline"></ion-icon></ion-button>

</ion-toolbar>
</ion-header>

<ion-content  color="tertiary">
  <div style="margin:10px;color:#154f57;font-family:Open Sans,Arial, Helvetica, sans-serif;">
    <h1 style="font-weight: bold;margin:30px">Payer Votre Consultation pour confirmer votre rendez-vous!</h1>
</div>

  <mat-horizontal-stepper linear labelPosition="bottom" #stepper>
    <mat-step label="Information" matStepperIcon="edit" >
      <div *ngIf="rv.length==0"> <h1>Vous n'avez aucune consultation a payer</h1></div>
      <h2 style="color:black">Consultations a venir</h2>
      <ion-list>
        <ion-item-sliding *ngFor="let item of rv">
          <ion-item>
            <ion-label>Le {{item.date_rdv}} a {{item.heure_rdv}} </ion-label>
            <button mat-button style="padding: 12px;background-color:#ffc409;color: white;float:right;margin: 10px;" (click)="passrdv(item)"  matStepperNext >Confirmer</button>

          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="unread(item)">
              <ion-button expand="round"  (click)="showModal(item)">
              Detail
            </ion-button>
          </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>

      <!-- [stepControl]="firstFormGroup"-->
  <!--  <div style="margin-top: 30px;">        <ion-list>
          <ion-item style="width:80%;margin:10px">
            <ion-label position="floating">Saisissez votre Index </ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
          <ion-item style="width:80%;margin:10px">
            <ion-label position="floating">Numero de telephone </ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
          <ion-button slot="end"  style="font-size: 12px;" (click)="affiche()">Valider </ion-button>
         <div [hidden]=test>
          <p style="color:rgb(126, 125, 125);font-size: 15px;margin:10px">Vous aurez un code sur ce numero pour <br> confirmer votre index !</p>
          <ion-item style="width:80%;margin:10px">
            <ion-label position="floating">Confirmez votre Index</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
          <ion-button slot="end"  style="font-size: 12px;">Confirmer </ion-button>
         </div>
          <div>
          <button mat-button style="padding: 12px;background-color:teal;color: white;float:right;" >Confirmer</button>
        </div>-->

    </mat-step>
    <mat-step label="Paiement" state="thumb">
      <form #f="ngForm" (ngSubmit)="Submit(f)" class="mb-5">
        <input type="hidden" name="etat" [(ngModel)]="eta" />
        <input type="hidden" name="cod_benef" [(ngModel)]="user.cod_benef" />

         <div *ngIf="testsoin==true">
          <h3 style="color: black;font-weight: bold;text-align: center;">Confirmez vos informations</h3><br>

          <div class="form-group"  style="width: 100%;">
            <div class="ui-inputgroup">
              <span class="ui-float-label">
                <mat-form-field appearance="fill" style="width: 100%; padding: 15px;" >
                  <mat-label>        <label style="color: black;">Régime </label>
                  </mat-label>
                  <mat-select   [(ngModel)]="soin.regime" name="regime">
                    <mat-option *ngFor="let montants of montant" (click)="calculerMontant(montants.montant)" [selected]="montants.type" value="{{montants.regime}}">
                      {{montants.type}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </span>
            </div>
          </div>

                <div style="width: 100%;" class="p-field p-col-12 p-md-4">
                  <label for="basic">Date valide</label>
                  <p-calendar inputId="basic"  name="date_valide" [(ngModel)]="date"></p-calendar>
              </div>


                  <div class="mb-6" style="width: 100%;">
                    <label style="color: black;" class=" block text-center text-balck text-sm mb-2">
                       Numero d'assurance :
                    </label>
                    <ion-input [(ngModel)]="soin.num_assure"  name="num_assure" style="width: 100%;"  name="num_assure" style="width: 100%;" type="text"></ion-input>

                </div>

        <div class="mb-6" style="width: 100%;">
          <label style="color: black;" class=" block text-center text-balck text-sm mb-2">
             Numero du carnet :
          </label>
          <input name="num_carnet" style="width: 100%;" [(ngModel)]="soin.num_carnet" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required />
      </div>

        <h3 style="font-weight:bold;color:#43cebb">Montant a payer :</h3><br><h4> {{somme}}</h4>
        <ion-button expand="round" type="submit" color="warning">
          Payer
        </ion-button>
   </div>

     <!--if soin null-->
     <div class="container text-black" [hidden]="testsoin" style="width: 100%;">

      <h3 style="color: black;font-weight: bold;text-align: center;">Saisissez vos informations</h3><br>

      <div class="form-group"  style="width: 100%;">
        <div class="ui-inputgroup">
          <span class="ui-float-label">
            <mat-form-field appearance="fill" style="width: 100%; padding: 15px;" >
              <mat-label>        <label style="color: black;">Régime </label>
              </mat-label>
              <mat-select   [(ngModel)]="reg" name="regime">
                <mat-option *ngFor="let montants of montant" (click)="calculerMontant(montants.montant)" [selected]="montants.type" value="{{montants.regime}}">
                  {{montants.type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </span>
        </div>
            </div>

  <div class="mb-6" style="width: 100%;">
      <label style="color: black;" class=" block text-center text-balck text-sm mb-2">
         Numero du carnet :
      </label>
      <input name="num_carnet" style="width: 100%;" [(ngModel)]="numC" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
  </div>

  <div style="width: 100%;" class="p-field p-col-12 p-md-4">
    <label for="basic">Date valide</label>
    <p-calendar inputId="basic"  name="date_valide" [(ngModel)]="dateV"></p-calendar>
</div>


    <div class="mb-6" style="width: 100%;">
      <label style="color: black;" class=" block text-center text-balck text-sm mb-2">
         Numero d'assurance :
      </label>
      <input name="num_assure" style="width: 100%;" [(ngModel)]="numA"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
  </div>
  <div>
    <h3 style="font-weight:bold;color:#43cebb">Montant a payer :</h3><br>
    <h4 style="color: black;"> {{somme}}</h4>
    <div  style="float:right;margin:10px">
      <ion-button expand="round" color="warning" type="submit">
        Payer
      </ion-button>
</div>
  </div>

  </div>

      </form>
    </mat-step>

     <!-- Icon overrides. -->
  <!-- #docregion override-icons -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="thumb">
    <mat-icon>thumb_up</mat-icon>
  </ng-template>
  </mat-horizontal-stepper>

</ion-content>

<div *ngIf="isup">
  <app-imprime-recu [rdv]="rdv"></app-imprime-recu>
  </div>

<ion-footer>
    <ion-title>
       <p style="color:rgb(184, 182, 182);font-size: 15px;margin:10px;">© Copyright 2021 Cims Tous droits réservés</p>
    </ion-title>
</ion-footer>
<!--
<mat-horizontal-stepper>
  <mat-step label="Step 1"  matStepperIcon="edit" state="phone">
    <p>Put down your phones.</p>y
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 2" state="chat">
    <p>Socialize with each other.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 3">
    <p>You're welcome.</p>
  </mat-step>

  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-horizontal-stepper>-->

