<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  <!--<ion-title style="text-align: end;">
    list Medecin
  </ion-title>-->
  <ion-button [routerLink]="['/home']" style="font-size: 15px;">EspaceRDV</ion-button>
  <ion-button *ngIf="user==null" slot="end" [routerLink]="['/login']" style="font-size: 12px;">se connecter</ion-button>
  <ion-button *ngIf="user!=null" slot="end" [routerLink]="['/profile']" style="font-size: 12px;">profil</ion-button>
  <ion-button *ngIf="user!=null"  (click)="logout()" slot="end" style="font-size: 12px; "> <ion-icon name="log-out-outline"></ion-icon></ion-button>
</ion-toolbar>
</ion-header>


<ion-content class="ion-padding" color="tertiary">

  <h3 style="color: black;font-weight: bold;text-align: center;">Choisir la date et l'heure du rendez-vous</h3><br>
  <form #f="ngForm"  (ngSubmit)="Submit(f)">
  <p-calendar name="date_rdv" [(ngModel)]="date" (click)="affiche(date)" [inline]="true" [showWeek]="true"></p-calendar>

  <ion-card [hidden]=test><!--style="margin-top: 30px;"-->
    <ion-card-content  >
        <input type="hidden" name="endTime" [(ngModel)]="date"  />
          <div >
            <mat-form-field appearance="fill" style="width: 100%;" >
              <mat-label>Choisissez l'heure du rendez-vous</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="heure_rdv">
                <mat-option *ngFor="let heur of tab " [value]="heur" (click)="afficher()">
                  {{heur}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!--<p>{{date | date: 'dd/MM/yyyy'}}</p> -->
      </div>
      <div [hidden]=res>
       <ion-input type="hidden" name="montant_rdv" [(ngModel)]="montant" ></ion-input>
        <ion-input type="hidden" name="date_nai_benef" [(ngModel)]="user.date_nai_benef" ></ion-input>
        <ion-input type="hidden" name="nom_pren_benef" [(ngModel)]="user.nom_pren_benef" ></ion-input>
        <ion-input type="hidden" name="pren_benef" [(ngModel)]="user.pren_benef" ></ion-input>
        <ion-input type="hidden" name="cod_benef" [(ngModel)]="user.cod_benef" ></ion-input>
        <ion-input type="hidden" name="gsm" [(ngModel)]="user.tel_benef" ></ion-input>
        <ion-input type="hidden" name="nom_med" [(ngModel)]="medecin.nom_med" ></ion-input>
        <ion-input type="hidden" name="cod_med" [(ngModel)]="medecin._id" ></ion-input>
        <ion-input type="hidden" name="prenom_med" [(ngModel)]="medecin.prenom_med" ></ion-input>
        <ion-input type="hidden" name="service" [(ngModel)]="medecin.service" ></ion-input>
        <ion-input type="hidden" name="specialite" [(ngModel)]="medecin.specialite" ></ion-input>

        <div class="container" *ngIf="testsoin==true" style="width: 100%;">

        <h3 style="color: black;font-weight: bold;text-align: center;">Confirmez vos informations</h3><br>

        <div class="mb-6" style="width: 100%;">
          <mat-form-field appearance="fill" style="width: 100%;" required>
            <mat-label>Régime </mat-label>
            <mat-select   [(ngModel)]="reg" name="regime">
              <mat-option *ngFor="let montant of montants" (click)="calculerMontant(montant.montant)"  value="{{montant.regime}}">
                {{montant.type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
         </div>

         <ion-label position="floating">Numero de carnet </ion-label>
        <ion-item class="ion-margin-bottom">
          <ion-input type="text" name="num_carnet" [(ngModel)]="soins.num_carnet" #gh="ngModel" pattern="[0-9]{8}" ></ion-input>
        </ion-item>
        <div *ngIf="gh.invalid && (gh.dirty || gh.touched)" class="alert alert-danger">
          <div *ngIf="gh.errors?.pattern">
          Le numero de carnet doit etre numérique et de 8 chiffres
          </div>
        </div>

        <ion-label position="floating">Date de validité</ion-label>
        <ion-item class="ion-margin-bottom">
          <ion-datetime displayFormat="MM/DD/YYYY" min="1994-12-12" max="2050-12-12" name="date_valide" [(ngModel)]="soins.date_valide"></ion-datetime>
        </ion-item>

        <ion-label position="floating">Numero d'assurance</ion-label>
        <ion-item class="ion-margin-bottom">
          <ion-input name="num_assure" [(ngModel)]="soins.num_assure" #num="ngModel" pattern="[0-9]{11}"></ion-input>
        </ion-item>
        <div *ngIf="num.invalid && (num.dirty || num.touched)" class="alert alert-danger">
          <div *ngIf="num.errors?.pattern">
          Le numero d'assurance doit etre numérique et de 11 chiffres
          </div>
        </div>

        <h3 style="font-weight:bold;color:#43cebb">Montant a payer :</h3><br>{{montant}}
        <ion-button type="submit" [disabled]="!f.valid" style="font-size: 12px;float: right;margin: 10px;" (click)="checkout()">Confirmer </ion-button>
      </div>

       <!--si soin == null-->
       <div class="container" [hidden]="testsoin" style="width: 100%;">

        <h3 style="color: black;font-weight: bold;text-align: center;">Saisissez vos informations</h3><br>

       <div class="mb-6" style="width: 100%;">
        <mat-form-field appearance="fill" style="width: 100%;" required>
          <mat-label>Régime </mat-label>
          <mat-select   [(ngModel)]="reg" name="regime" #hop="ngModel" required>
            <mat-option *ngFor="let montant of montants" (click)="calculerMontant(montant.montant)"  value="{{montant.regime}}">
              {{montant.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="hop.invalid && (hop.dirty || hop.touched)" class="alert alert-danger">
          <div *ngIf="hop.errors?.required">
            le regime est un champs obligatoire
          </div>
        </div>
       </div>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" name="num_carnet" placeholder="Numero du carnet" [(ngModel)]="numC" #tel_benef="ngModel" pattern="[0-9]{8}" required></ion-input>
    </ion-item>
    <div *ngIf="tel_benef.invalid && (tel_benef.dirty || tel_benef.touched)" class="alert alert-danger">
      <div *ngIf="tel_benef.errors.required">
          Le numero de carnet est obligatoire
      </div>
      <div *ngIf="tel_benef.errors.pattern">
        Le numero de carnet doit etre numérique et de 8 chiffres
      </div>
   </div>

    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Date valide</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" min="1994-12-12" max="2050-12-12" name="date_valide" [(ngModel)]="dateV" #dte="ngModel" required value="2002-09-23T15:03:46.789"></ion-datetime>
        </ion-item>
        <div *ngIf="dte.invalid && (dte.dirty || dte.touched)" class="alert alert-danger">
          <div *ngIf="dte.errors?.required">
            la date est un champs obligatoire
          </div>
        </div>

    <ion-item class="ion-margin-bottom">
      <ion-input name="num_assure" [(ngModel)]="numA" #assur="ngModel" required placeholder="Numero d'assurance" #nm="ngModel" pattern="[0-9]{11}" ></ion-input>
    </ion-item>
    <div *ngIf="nm.invalid && (nm.dirty || nm.touched)" class="alert alert-danger">
      <div *ngIf="nm.errors.required">
          Le numero d'assurance est obligatoire
      </div>
      <div *ngIf="nm.errors.pattern">
        Le numero d'assurance doit etre numérique et de 11 chiffres
      </div>
   </div>

    <div>
      <h3 style="font-weight:bold;color:#43cebb">Montant a payer :</h3><br>
      {{montant}}
      <div  style="float: right;margin:10px">
        <button pButton pRipple type="submit" [disabled]="!f.valid" label="Payer" class="button-raised button-text text-black" style="background-color: #43cebb;" (click)="checkout()"></button>
  </div>
    </div>


</div>
</div>
    </ion-card-content>
  </ion-card>
</form>

  <!--<div *ngIf="isup">
    <app-imprime-recu [rdv]="rdv"></app-imprime-recu>
    </div>-->
</ion-content>
<ion-footer>
  <ion-title>
     <p style="color:rgb(184, 182, 182);font-size: 13px;margin:10px;">© Copyright 2021 EspaceRDV Tous droits réservés</p>
  </ion-title>
</ion-footer>


