<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  <!--<ion-title style="text-align: end;">
    list Medecin
  </ion-title>-->
  <ion-button [routerLink]="['/home']" style="font-size: 15px;">Cims</ion-button>
  <ion-button slot="end" [routerLink]="['/login']" style="font-size: 12px;">se connecter</ion-button>
</ion-toolbar>
</ion-header>


<ion-content  color="tertiary">
<ion-card style="margin-top: 30px ">
  <ion-card-content>
      <div >
        <h3 style="color: black;font-weight: bold;text-align: center;">Choisir la date et l'heure du rendez-vous</h3><br>
        <p (click)="affiche()">25 Mars 2021</p> 
         <p-calendar [(ngModel)]="value"></p-calendar>
    </div>
    <div [hidden]=test>
10:00 <br>10:30<br>  <p (click)="afficher()">11:00</p> <br>
    </div>
    <div [hidden]=res>
      <h3 style="color: black;font-weight: bold;text-align: center;">Saisissez vos informations</h3><br>
      <app-input placeholder="Nom"></app-input>
      <app-input placeholder="Prenom"></app-input>
      <app-input placeholder="Num Tel"></app-input>
      <ion-button style="font-size: 12px;float: right;margin: 10px;">Confirmer </ion-button>
    </div>
  </ion-card-content>
</ion-card>

<ion-footer>
  <ion-title> 
     <p style="color:rgb(184, 182, 182);font-size: 15px;margin:10px;">© Copyright 2021 Cims Tous droits réservés</p>
  </ion-title>
</ion-footer>
</ion-content>


