<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  <!--<ion-title style="text-align: end;">
    list Medecin
  </ion-title>-->
  <ion-button [routerLink]="['/home']" style="font-size: 15px;">Cims</ion-button>
  <ion-button slot="end" [routerLink]="['/login']" style="font-size: 12px;">se connecter</ion-button>
</ion-toolbar>
</ion-header>


<ion-content  color="tertiary">
  <ion-card style="margin-top: 30px;">
    <ion-card-content>
          <h3 style="color: black;font-weight: bold;text-align: center;">Choisir la date et l'heure du rendez-vous</h3><br>
          <p-calendar [(ngModel)]="date" (click)="affiche()" [inline]="true" [showWeek]="true"></p-calendar>
          <div [hidden]=test>
            <mat-form-field appearance="fill" style="width: 100%;" >
              <mat-label>Choisissez l'heure du rendez-vous</mat-label>
              <mat-select [(ngModel)]="selectedValue">
                <mat-option *ngFor="let heur of heurs" [value]="heur.value" (click)="afficher()">
                  {{heur.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!--<p>{{date | date: 'dd/MM/yyyy'}}</p> -->
      </div>
      <div [hidden]=res>
        <h3 style="color: black;font-weight: bold;text-align: center;">Saisissez vos informations</h3><br>
        <app-input placeholder="Nom"></app-input>
        <app-input placeholder="Prenom"></app-input>
        <app-input placeholder="Num Tel"></app-input>
        <ion-button style="font-size: 12px;float: right;margin: 10px;" [routerLink]="['/payer-rendezvous',medecin._id]">Confirmer </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

<ion-footer>
  <ion-title> 
     <p style="color:rgb(184, 182, 182);font-size: 15px;margin:10px;">© Copyright 2021 Cims Tous droits réservés</p>
  </ion-title>
</ion-footer>
</ion-content>


