<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>

    <ion-button [routerLink]="['/home']" style="font-size: 15px;">Cims</ion-button>
    <ion-button *ngIf="user==null" slot="end" [routerLink]="['/login']" style="font-size: 12px;">se connecter
    </ion-button>
    <ion-button *ngIf="user!=null" slot="end" [routerLink]="['/profile']" style="font-size: 12px;">profil</ion-button>
    <ion-button *ngIf="user!=null" (click)="logout()" slot="end" style="font-size: 12px; ">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <div id="carousel-example-1z" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view"
          style="background-image:  url('/assets/med1.jpg') ; background-repeat: no-repeat; background-size: cover;height: 50%;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div style="font-family: Lucida handwriting;" class="text-center text-white mx-5 wow fadeIn">
              <div style="margin-top: 20px;">
              </div>
              <h1 class="mb-4 d-none d-md-block">
                <strong>Bienvenue.</strong>
              </h1>
              <h2>La pharmacie virtuelle vous Aide a avoir une visibilité sur les medicaments disponible dans notre
                hopital
              </h2>
            </div>

          </div>

        </div>
      </div>
      <!--/First slide-->


    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->

  <!--Main layout-->
  <main>
    <div class="container">

      <!--Navbar-->
      <div style="width: 100%;margin-top: 10px">
        <ion-searchbar animated="true" placeholder="Nom du medicament" [(ngModel)]="searchText"></ion-searchbar>
        <mat-form-field appearance="fill" style="width: 100%;margin-bottom: 10px">
          <mat-label>Choisissez le nom du l'hopital</mat-label>
          <mat-select [(ngModel)]="searchText" name="hop">
            <mat-option *ngFor="let hopital of hopitals" value="{{hopital.cod_hop}}">
              {{hopital.nom_hop}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <section class="text-center">
        <div class="wow fadeIn">

          <div *ngFor="let item of medics " #med><!--| filter:searchText-->

            <!--Card-->
            <div class="card" style="color: black;margin-bottom: 10px;">
              <input type="hidden" value=" {{item.cod_hop}} " />
              <div>
                <img [src]="'http://localhost:3000/uploads/'+item.img_medic" style="height: 150px;"/>
              </div>

              <div class="card-body ">
                <h4 class="grey-text text-center"><strong>{{item.nom_medic}}</strong></h4>
                <p class="dark-grey-text">{{item.desc_medic}} </p>
                <h4>
                  <span style="color: black;" *ngIf="item.quantite==0" class="badge badge-pill danger-color">Hors Stock</span>
                  <span style="color: black;" *ngIf="item.quantite!=0" class="badge badge-pill danger-color">Disponible :
                    <strong> {{item.quantite}} </strong></span>
                </h4>

              </div>
            </div>
            <!--Card-->

          </div>
        </div>

      </section>

    </div>
  </main>

  <ion-footer>
    <ion-title>
      <p style="color:rgb(184, 182, 182);font-size: 15px;margin:10px;">© Copyright 2021 EspaceRDV Tous droits réservés</p>
    </ion-title>
  </ion-footer>
</ion-content>
