<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Navigation</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <!--<ion-list-header>
            Navigation
          </ion-list-header>-->
          <ion-menu-toggle [autoHide]="false">
            <ion-item button [routerLink]="['/home']" routerDirection="forward">
              <ion-icon slot="start" name='home'></ion-icon>
              <ion-label>
                Accueil
              </ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/liste-hopital']" routerDirection="forward">
              <ion-icon slot="start" name='home'></ion-icon>
              <ion-label>
                Prise de rendez-vous
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
