<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  <!--<ion-title style="text-align: end;">
    list Medecin
  </ion-title>-->
  <ion-button [routerLink]="['/home']" style="font-size: 15px;">Cims</ion-button>
  <ion-button slot="end" [routerLink]="['/login']" style="font-size: 12px;">se connecter</ion-button>
</ion-toolbar>
</ion-header>

<ion-content  color="tertiary">
<div style="margin:10px;color:#154f57;font-family:Open Sans,Arial, Helvetica, sans-serif;">
  <h1 style="font-weight: bold;">Prenez rapidement un <br> rendez-vous avec votre <br> médecin !</h1>
  <p>Sélectionnez votre médecin, choisissez la date et <br> heure de votre rdv et recevez votre sms/mail de <br> confirmation. C’est aussi simple que ça !</p>
</div>
<ion-searchbar animated></ion-searchbar>

  <h1 class="title">Cardiologue à Ariana Tunisie </h1>
  <div class="order-items">
    <ion-card>
      <ion-card-content>
        <div class="item-info">
          <p>Dr Mahdi CHAKROUN</p>
          <p>Cardiologue</p>
          <p><ion-icon name="location-outline"></ion-icon> Ariana Tunisie</p>

          <ion-button expand="block" [routerLink]="['/fixer-rendezvous']" class="main-button">Prendre Rendez-vous</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
       <div class="item-info">
          <p>Dr Fakher NAIJA</p>
          <p>Cardiologue</p>
          <p><ion-icon name="location-outline"></ion-icon> Ariana Tunisie</p>

          <ion-button expand="block" [routerLink]="['/fixer-rendezvous']" class="main-button">Prendre Rendez-vous</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
       <div class="item-info">
          <p>Dr Imen GHALI EP SAHRAOUI </p>
          <p>Cardiologue</p>
          <p><ion-icon name="location-outline"></ion-icon> Ariana Tunisie</p>

          <ion-button expand="block" [routerLink]="['/fixer-rendezvous']" class="main-button">Prendre Rendez-vous</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
       <div class="item-info">
          <p>Dr Feriel BAYOU</p>
          <p>Cardiologue</p>
          <p><ion-icon name="location-outline"></ion-icon> Ariana Tunisie</p>

          <ion-button expand="block" [routerLink]="['/fixer-rendezvous']" class="main-button">Prendre Rendez-vous</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
       <div class="item-info">
          <p>Dr Monia CHEMLI ÉP LAJMI</p>
          <p>Cardiologue</p>
          <p><ion-icon name="location-outline"></ion-icon> Ariana Tunisie</p>

          <ion-button expand="block" [routerLink]="['/fixer-rendezvous']" class="main-button">Prendre Rendez-vous</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-footer>
    <ion-title> 
       <p style="color:rgb(184, 182, 182);font-size: 15px;margin:10px;">© Copyright 2021 Cims Tous droits réservés</p>
    </ion-title>
</ion-footer></ion-content>


