<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  <!--<ion-title style="text-align: end;">
    list Medecin
  </ion-title>-->
  <ion-button [routerLink]="['/home']" style="font-size: 15px;">Cims</ion-button>
  <ion-button *ngIf="user==null" slot="end" [routerLink]="['/login']" style="font-size: 12px;">se connecter</ion-button>
  <ion-button *ngIf="user!=null" slot="end" [routerLink]="['/profile']" style="font-size: 12px;">profil</ion-button>
  <ion-button *ngIf="user!=null"  (click)="logout()" slot="end" style="font-size: 12px; "> <ion-icon name="eye-outline"></ion-icon></ion-button>
</ion-toolbar>
</ion-header>

<ion-content  color="tertiary">
<div style="margin:10px;color:#154f57;font-family:Open Sans,Arial, Helvetica, sans-serif;">
  <h1 style="font-weight: bold;">Prenez rapidement un <br> rendez-vous avec votre <br> médecin !</h1>
  <p-toast position="top-right"></p-toast>
  <p>Sélectionnez votre médecin, choisissez la date et  heure de votre rdv et recevez votre sms/mail de  confirmation. C’est aussi simple que ça !</p>
</div>
<h3 style="color:#154f57;">Filtrer par</h3>
<ion-searchbar animated="true" placeholder="Nom du medecin" [(ngModel)]="selDmn" ></ion-searchbar>
<ion-item style="border-radius: 10px;margin:5px;">
  <ion-label>Service</ion-label>  
  <select style="width: 100%;" (change)="med.filterGlobal($event.target.value, 'contains')" [(ngModel)]="selDmn" >
    <option *ngFor="let medecin of medecins" [selected]="medecin.service" value="{{medecin.service}}" >{{medecin.service}}</option>
</select>        

</ion-item>
  <h1 class="title">{{selDmn}} à Ariana Tunisie </h1>
  <div class="order-items">
    <ion-card *ngFor="let medecin of medecins | filter:selDmn " #med >
      <ion-card-content>
        <div class="item-info">
          <p>Dr {{medecin.nom_med}} {{medecin.prenom_med}} </p>
          <p>{{medecin.service}}</p>
          <p><ion-icon name="location-outline"></ion-icon> {{medecin.specialite}}</p>

          <ion-button expand="block" (click)="fixezrdv(medecin)" class="main-button">Prendre Rendez-vous</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
  <ion-footer>
    <ion-title> 
       <p style="color:rgb(184, 182, 182);font-size: 15px;margin:10px;">© Copyright 2021 Cims Tous droits réservés</p>
    </ion-title>
</ion-footer></ion-content>


