<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  <ion-searchbar animated="true" placeholder="Chercher un rendez-vous" [(ngModel)]="selDmn" ></ion-searchbar>
  <ion-button *ngIf="user!=null"  (click)="logout()" slot="end" style="font-size: 12px; "> <ion-icon name="log-out-outline"></ion-icon></ion-button>

</ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="margin: 13px;color:#43cebb;">Votre historique des paiements</h1>
  <ion-list>
    <ion-item *ngFor="let item of rv | filter:selDmn ">
      <ion-avatar slot="start">
        <img src="../../assets/cims.png">
      </ion-avatar>
      <ion-label>
        <h2 style="font-weight: bold;">Le {{item.date_rdv}}</h2>
        <h3>Dr. {{item.nom_med}} {{item.prenom_med}}</h3>
        <p> Montant payé : {{item.montant_rdv}} Dt</p>
        <ion-button slot="end" style="font-size: 12px;float: right;" color="warning" (click)="onEventSelected(item)">Imprimer</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!--<div *ngIf="isup">
  <app-imprime-recu [rdv]="rdv"></app-imprime-recu>
  </div>-->
