<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">S'authentifier</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Nouveau Sur <span style="color: teal;">Cims</span>?</h1>

  <form #f="ngForm"  (ngSubmit)="Submit(f)" id="form">
   <div style="text-align: center;">
    <h5>Merci de saisir vos informations</h5>
   <div style="margin: 10px;">
    <p-radioButton name="sexe_benef" value="F" [(ngModel)]="sexe"></p-radioButton>Femme
    <p-radioButton name="sexe_benef" value="M" [(ngModel)]="sexe"></p-radioButton>Homme
   </div>
   </div>
        <ion-item class="ion-margin-bottom">
          <ion-input name="nom_pren_benef" [(ngModel)]="nom_pren_benef" type="text" placeholder="nom"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom">
          <ion-input name="pren_benef" [(ngModel)]="pren_benef" type="text" placeholder="prenom"></ion-input>
        </ion-item>
        <!--<ion-item class="ion-margin-bottom" style="  display: inline-flex;align-items: center;width: 50%;">
          <ion-select name="cod_hop"  [(ngModel)]="codhop" >
            <ion-select-option  *ngFor="let hopital of hopitals" value="{{hopital.cod_hop}}" style="width: 450px;">{{hopital.nom_hop}}</ion-select-option>
          </ion-select>
       </ion-item>-->
        <ion-item class="ion-margin-bottom" style="  display: inline-flex;align-items: center;width: 50%;">
          <ion-input name="tel_benef" [(ngModel)]="tel_benef" type="text" placeholder="num tel"></ion-input>
        </ion-item>
        <div style="  display: inline-flex;align-items: center;width: 50%;" class="p-field p-col-12 p-md-4 form-controle">
          <label for="icon">Date de naissance</label><br>
          <p-calendar name="date_nai_benef" [(ngModel)]="date_nai_benef" ></p-calendar>
        </div>
            <!--<ion-item class="ion-margin-bottom">
          <ion-input name="pren_mere_benef" [(ngModel)]="pren_mere_benef" type="text" placeholder="prenom mere"></ion-input>
        </ion-item>
        <ion-item  class="ion-margin-bottom">
          <td><ion-input name="pren_pere_benef" [(ngModel)]="pren_pere_benef" type="text" placeholder="prenom pere"></ion-input></td>
        </ion-item>-->
        <ion-item class="ion-margin-bottom">
          Hopital : <ion-select name="cod_hop"  [(ngModel)]="codhop" >
            <ion-select-option  *ngFor="let hopital of hopitals" value="{{hopital.cod_hop}}" style="width: 450px;">{{hopital.nom_hop}}</ion-select-option>
          </ion-select>
          </ion-item>
          <ion-item style="  display: inline-flex;align-items: center;width: 100%;" class="ion-margin-bottom">
            <ion-input name="email" [(ngModel)]="email" type="text" placeholder="email"></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" shape="round" (click)="notify()">Envoyer mail de confirmation</ion-button>
          <div [hidden]="test">
          <ion-item style="  display: inline-flex;align-items: center;width: 50%;" class="ion-margin-bottom">
            <ion-input name="confemail" [(ngModel)]="confemail" type="text" placeholder="Entrez le code"></ion-input>
          </ion-item>
        <ion-item style="  display: inline-flex;align-items: center;width: 50%;" class="ion-margin-bottom">
          <ion-input name="password" [(ngModel)]="password" type="password" placeholder="mot de passe"></ion-input>
        </ion-item>
    <ion-button expand="block" type="submit" shape="round">Rejoignez-nous</ion-button>
  </div>
  </form>

  <p>En appuyant sur «Rejoignez-nous», vous acceptez <br />nos termes & conditions.</p>
</ion-content>