<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  <!--<ion-title style="text-align: end;">
    list Medecin
  </ion-title>-->
  <ion-button [routerLink]="['/home']" style="font-size: 15px;">Cims</ion-button>
  <ion-button *ngIf="user==null" slot="end" [routerLink]="['/login']" style="font-size: 12px;">se connecter</ion-button>
  <ion-button *ngIf="user!=null" slot="end" [routerLink]="['/profile']" style="font-size: 12px;">profil</ion-button>
  <ion-button *ngIf="user!=null"  (click)="logout()" slot="end" style="font-size: 12px; "> <ion-icon name="log-out-outline"></ion-icon></ion-button>

</ion-toolbar>
</ion-header>


<ion-content  color="tertiary">
  <ion-img src='../assets/hopitals.jpg'></ion-img>
  <h3 style="font-family: cursive;color:rgb(22, 107, 86);font-size: 15px;margin:10px">Votre santé est notre <br> Priorité.</h3>
  <ion-searchbar animated="true" placeholder="Nom de l hopital" [(ngModel)]="region" ></ion-searchbar>
    <mat-form-field appearance="fill" style="width: 95%;margin-left:10px ;" required>
      <mat-label>Choisir region </mat-label>
      <mat-select  [(ngModel)]="region" name="region"  >
        <mat-option  *ngFor="let reg of regions" value="{{reg.value}}">
          {{reg.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h1 style="font-weight: bold;margin:10px" class="title">Hopital a {{region}} </h1>
    <ion-card *ngFor="let hopital of hopitals | filter:region:'adr_hop','nom_hop' " #hop>
      <ion-card-content>
        <div class="c">
          <img [src]='hopital.img_hop' />
          <div style="margin: 10px ">
            <p style="font-weight: bold;">{{hopital.nom_hop}}</p><br>
            <p><ion-icon color="primary" name="location-outline"></ion-icon> {{hopital.adr_hop}} </p>
          </div>
        </div>
        <ion-button  style="width: 100%;" expand="block" (click)="afficheMed(hopital)" class="btn"><ion-icon name="eye-outline"></ion-icon></ion-button>
      </ion-card-content>
    </ion-card>

    <ion-footer>
      <ion-title>
         <p style="color:rgb(184, 182, 182);font-size: 15px;margin:10px;">© Copyright 2021 Cims Tous droits réservés</p>
      </ion-title>
  </ion-footer></ion-content>


