<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Decalez votre rendez-vous</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form #f="ngForm" (ngSubmit)="Submit(f)">
    <input type="hidden" name="endTime" [(ngModel)]="date"  />

  <ion-card style="margin-top:15px">
    <ion-card-content>
      <ion-card-title style="margin: 10px;">Informations personnelles</ion-card-title>

      <div  class="col-md-12" style="width:100%">
             <h2 class="col-md-6 lg:inline-block lg:mt-0 ">Nom et Prenom :</h2><span class="col-md-6 lg:inline-block lg:mt-0 ">{{rv.nom_pren_benef}} {{rv.pren_benef}}</span>
     </div>

     <div class="col-md-12" style="width:100%">
      <h2 class="col-md-6 lg:inline-block lg:mt-0 ">Date de naissance :</h2>
      <p class="col-md-6 lg:inline-block lg:mt-0 "> {{rv.date_nai_benef}} </p>
</div>

<div class="col-md-12" style="width:100%">
  <h2 class="col-md-6 lg:inline-block lg:mt-0 ">Numero de telephone:</h2>
  <p class="col-md-6 lg:inline-block lg:mt-0 "> {{rv.gsm}} </p>
</div>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin-top:15px">
    <ion-card-content>
      <ion-card-title style="margin: 10px;">Informations du rendez-vous</ion-card-title>
      <div class="form-group" style="width: 100%;">
        <div class="ui-inputgroup" style="width: 100%;">
          <span class="ui-float-label">
            <ion-item>
              <ion-label position="floating">Date du rendez-vous :</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2030-12-09" (click)="affiche(date)" name="date_rdv" [(ngModel)]="date"></ion-datetime>
            </ion-item>
        </span>
        </div>
            </div>

            <mat-form-field appearance="fill" style="width: 100%; padding: 15px;">
              <mat-label>Choisissez l'heure du rendez-vous</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="heure_rdv">
                <mat-option *ngFor="let heur of tab " [value]="heur">
                  {{heur}}
                </mat-option>
              </mat-select>
            </mat-form-field>
                  <ion-button expand="block" style="margin: 10px;" type="submit" class="main-button">Confirmer</ion-button>
    </ion-card-content>
  </ion-card>

</form>
</ion-content>
