ion-content {
  background: url(../../assets/cims.png) no-repeat top center/cover fixed, #fff;
  position: relative;
  height: 100%;
  width: 100%;
}

ion-toolbar {
  background: transparent;
}
.card-body {
  background-color: #ffffff;
  padding: 30px;
  height: calc(100vh – (200px + 56px));
  overflow: hidden;

  .user-meta {
      padding-top: 40px;

      .playername {
          font-size: 24px;
          font-weight: 600;
          color: #303940;
      }

      .country {
          font-size: 90%;
          color: #949ea6;
          text-transform: uppercase;
          margin: 0 auto;
      }
  }
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 8px solid #ffffff;
  }
}
