<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  <!--<ion-title style="text-align: end;">
    list Medecin
  </ion-title>-->
  <ion-button [routerLink]="['/home']" style="font-size: 15px;">EspaceRDV</ion-button>
  <ion-button *ngIf="user==null" slot="end" [routerLink]="['/login']" style="font-size: 12px;">se connecter</ion-button>
  <ion-button *ngIf="user!=null" slot="end" [routerLink]="['/profile']" style="font-size: 12px;">profil</ion-button>
  <ion-button *ngIf="user!=null"  (click)="logout()" slot="end" style="font-size: 12px; "> <ion-icon name="log-out-outline"></ion-icon></ion-button>
</ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >

   <ion-card>
    <img style="width: 100%;" src="../../assets/consult.jpg" />
    <div id="header">
      <img style="margin-top: -20%;" src="assets/user.jpg" />
    </div>

    <ion-card-header>
      <ion-card-subtitle style="color:#43cebb ;" class="text-center">{{user.nom_pren_benef}} {{user.pren_benef}}</ion-card-subtitle>
      <ion-card-title>Modifier votre profile</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form #f="ngForm" (ngSubmit)="Submit(f)">
      <div class="mb-6" style="width: 100%;">
        <label style="color: black;" class=" block text-center text-balck text-sm mb-2">
           Nom :
        </label>
        <input name="nom_pren_benef" [(ngModel)]="user.nom_pren_benef" style="width: 100%;"   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
    </div>
     <div class="mb-6" style="width: 100%;">
      <label style="color: black;" class=" block text-center text-balck text-sm mb-2">
        Prenom :
      </label>
      <input name="pren_benef" [(ngModel)]="user.pren_benef" style="width: 100%;"   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
  </div>

  <div class="mb-6" style="width: 100%;">
    <label style="color: black;" class=" block text-center text-balck text-sm mb-2">
       Email :
    </label>
    <input name="email" [(ngModel)]="user.email" style="width: 100%;" #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf = "email.errors?.pattern && email.touched">
        email invalide
      </div>
    </div>
  </div>

  <div class="mb-6" style="width: 100%;">
    <label style="color: black;" class=" block text-center text-balck text-sm mb-2">
       Num tel :
    </label>
    <input name="tel_benef" [(ngModel)]="user.tel_benef" style="width: 100%;" #numtel="ngModel" pattern="[0-9]{8}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
    <div *ngIf="numtel.invalid && (numtel.dirty || numtel.touched)" class="alert alert-danger">
      <div *ngIf = "numtel.errors?.pattern && numtel.touched">
        numero de telephone invalide
      </div>
    </div>
  </div>
<ion-button expand="round" color="#FFC909" style="float: right;" color="warning" type="submit" [disabled]="!f.valid" >
  Modifier
</ion-button>
</form>
   </ion-card-content>
  </ion-card>
</ion-content>
