<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  <!--<ion-title style="text-align: end;">
    list Medecin
  </ion-title>-->
  <ion-button [routerLink]="['/home']" style="font-size: 15px;">Cims</ion-button>
  <ion-button *ngIf="user==null" slot="end" [routerLink]="['/login']" style="font-size: 12px;">se connecter</ion-button>
  <ion-button *ngIf="user!=null" slot="end" [routerLink]="['/profile']" style="font-size: 12px;">profil</ion-button>
  <ion-button *ngIf="user!=null"  (click)="logout()" slot="end" style="font-size: 12px; "> <ion-icon name="log-out-outline"></ion-icon></ion-button>

</ion-toolbar>
</ion-header>

    <!--content-->
    <ion-content color="tertiary" >

        <ion-card [routerLink]="['/consultation']">
          <ion-card-content>
            <img src='../assets/consult.jpg' style="width: 100%;"/>
            <ion-card-title style="margin: 10px;">Vous avez un rendez-vous ?</ion-card-title>
            <h1>Payez votre consultation maintenant</h1>
          </ion-card-content>
        </ion-card>

        <ion-card [routerLink]="['/consultation']">
          <ion-card-content>
            <img src='../assets/radio.jpg' style="width: 100%;"/>
            <ion-card-title style="margin: 10px;">Vous avez un rendez-vous ?</ion-card-title>
            <h1>Payez votre radio/analyse... maintenant</h1>
          </ion-card-content>
        </ion-card>

      <ion-footer>
        <ion-title>
           <p style="color:rgb(184, 182, 182);font-size: 15px;margin:10px;">© Copyright 2021 Cims Tous droits réservés</p>
        </ion-title>
    </ion-footer>
    </ion-content>
