<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  <!--<ion-title style="text-align: end;">
    list Medecin
  </ion-title>-->
  <ion-button [routerLink]="['/home']" style="font-size: 15px;">Cims</ion-button>
  <ion-button slot="end" [routerLink]="['/login']" style="font-size: 12px;">se connecter</ion-button>
</ion-toolbar>
</ion-header>

    <!--content-->
    <ion-content color="tertiary" class="ion-padding">
      
      <ion-card [routerLink]="['/consultation']">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Consultation</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Acte</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      <ion-footer>
        <ion-title> 
           <p style="color:rgb(184, 182, 182);font-size: 15px;margin:10px;">© Copyright 2021 Cims Tous droits réservés</p>
        </ion-title>
    </ion-footer>
    </ion-content>
